.sec {
    background-color: darkgrey;
    font-weight: bold;
}

.thir {
    background-color: red;
    font-style: italic;
}

.fort {
    color: white;
    background-color: purple;
}

.impo {
    font-size: 200%;
}